/* --- Index -----------------------------------------
    0. HTML5 Normalise
    1. General
    2. Layout
      2a. Header
      2b. Footer

   ---------------------------------------------------
    Designer: Anton Di Leva
    Developer: Sam Becker
    Created for: Miramar Rangers Football Club
    Created by: 
  ---------------------------------------------------
    Colors
  --------------------------------------------------- */

/* --- 0. HTML5 Normalise ------------ */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }
html { font-family: sans-serif;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; }

a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
mark {background: #ff0; color: #000; }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre-wrap; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }
fieldset { border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0;}

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button;cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0;padding: 0; }
textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

/* --- Fontface ------------ */


/* --- 1. General ------------ */

html,
body,
#container {
  height:100%;
}
body {
  color:#000;
  font-family: arial, helvetica, sans-serif;
  font-size:13px;
  line-height:25px;
  background:#ffffff;
  height: auto;
}
strong { font-weight: bold; }
em { font-style:italic; }

a {
  text-decoration:underline;
  color:#000;
}
a:visited { }
a:hover { }
a:focus { }

p,h1,h2,h3,h4 {
  margin:0 0 20px 0;
}

h1 {
  font-size:36px;
  line-height:45px;
}
h2 {
  font-size:30px;
  line-height:40px;
}
h3 {
  font-size:24px;
  line-height:30px;
}
h4 {
  font-size:18px;
}
h5 {
  font-size:16px;
}
ul,ol {}
li {
  margin-bottom:5px;
}

/* --- 2. Layout ------------ */
.page {
  width: 940px;
  margin: 0 auto;
  clear: both;
}

/* --- 2a. Header ------------ */
header {
  width: 940px;
  margin: 0 auto;
  background-color: #172145;
}
figure {
  width: 230px;
  margin: 0 auto;
}
figure a {
  display: block;
  height: 320px;
}
.header-region {

}

.header-region ul {
  float: left;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-region nav {
  float: left;
  background-color: #172145;
}
.header-region ul li {
  float: left;
  display: inline;
  border-right: 1px solid #fff;
  margin: 0;
  padding: 0;
}
.header-region ul li a {
  text-transform: uppercase;
  padding: 14px 19px 14px 19px;
  font-size: 20px;
  line-height: 14px;
  display: block;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.header-region ul li.last {
  border:none;
  padding-right: 2px;
}


/* --- 2b. Footer ------------ */
footer {
  width: 100%;
  background-color: #172145;
  border-top: 25px solid #000;
}
footer .footer-block {
  width: 940px;
  margin: 0 auto;
  border-bottom: 3px solid #fff;
}
footer .footer-menu {
  float: left;
  width: 370px;
  margin: 55px 20px 0 15px;
}
footer .footer-menu ul {
  float: left;
  width: 80px;
}
footer .footer-menu ul li {
  float: left;
}
footer .footer-menu ul li a {
  margin-right: 15px;
  font-size: 14px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
footer .footer-logo {
  /*float: right;*/
}

/* --- 3. Content ---------- */

/* ----3a. Homepage -------- */

/* ----3b. About -------- */

/* --- 0. Admin ------------ */

.tabs.primary {
  width: 940px;
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #bbb;
  line-height: 25px;
}
.tabs.primary li{
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}
.tabs.primary li a {
  display: block;
  border:1px solid #bbb;
  border-bottom: none;
  padding: 6px 20px 4px 20px;
  text-decoration: none;
  margin: 0;
}
ul.primary li.active a { 
  background-color: #ddd;
  border-bottom: none;
  font-weight: normal;
}







